body {
    background-color: rgb(254, 253, 230);
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

.title {
      background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -ms-linear-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -ms-radial-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -moz-linear-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -moz-radial-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -o-linear-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -o-radial-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -webkit-linear-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -webkit-radial-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
      color: transparent;
      grid-column: 1/4;
      grid-row: 1;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 5px 5px 1px orange, 6px 6px 2px rgba(0, 0, 0, 0.7), 10px 10px 1px red, 11px 11px 2px rgba(0, 0, 0, 0.7), 15px 15px 1px purple, 16px 16px 2px rgba(0, 0, 0, 0.7);
}

h2 {
    color: rgb(0, 0, 223);
    margin: 1em 0 0.25em;
    margin-top: 0.5em;
}

.pick-forms {
  flex-flow: column wrap;
  grid-column: 1;
  grid-row: 2;
  justify-content: flex-start;
  padding-left: 10px;
}

.design-canvas-group {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 2;
}

.colorPicker {
    color: #cd092d;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.design-canvas {
    color: indigo;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.button {
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px #f2e356;
    box-shadow: 0 6px #f2e356;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    position: relative;
}

.button:hover {
    -webkit-box-shadow: 0 4px #f2e356;
    box-shadow: 0 4px #f2e356;
    top: 2px;
}

.button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 6px;
}

.erase-canvas {
    margin: 10px auto;
    width: fit-content;
}

.icon-color {
  color: blue;
}

.random-color {
  border: 4px solid green;
}

.sizeForm {
  margin: 5px;
}

i {
  color: #16a085;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
