body {
    text-align: center;
    background-color: rgb(254,253,230);
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

.title {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
                 5px 5px 1px orange,
                 6px 6px 2px rgba(0,0,0,0.7),
                 10px 10px 1px red,
                 11px 11px 2px rgba(0,0,0,0.7),
                 15px 15px 1px purple,
                 16px 16px 2px rgba(0,0,0,0.7);
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

.size-picker {
    color: rgb(0,0,223);
}

.color-picker {
    color:  rgb(0,233,80);
}

.design-canvas {
    color: rgb(0,0,0);
    margin-bottom: 10px;
}

#clear-canvas {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 18px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0px 6px #f2e356;
}

#clear-canvas:hover {
    box-shadow: 0px 4px #f2e356;
    top: 2px;
}

#clear-canvas:active {
    box-shadow: none;
    top: 6px;
}

#size-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 6px #f2e356;
}

#size-button:hover {
    box-shadow: 0px 4px #f2e356;
    top: 2px;
}

#size-button:active {
    box-shadow: none;
    top: 6px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
    margin-top: 20px;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
